*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  font-size: 20px;
}
body{
  font-family: 'Noto Sans JP', bold;
  background-color: #0892d0;
}
h1{
  font-family: moret, sans-serif;
  font-size: 100px;
}
h2{
  font-family: moret, sans-serif;
  font-size: 30px;
}
/* Layout Styles*/
header {
  width: 75vw;
  margin:25px auto;
  background-color: ;
}
main {
  width: 75vw;
  margin:25px auto;
  background-color: ;
  display: flow-root;
}
.col{
  width: 50%;
  float: left;
  padding: 0 25px;
}

/* Responsive stylesheet */
@media screen and (max-width: 900px){
  .col {
    width: 100%;
    margin-bottom: 50px;
}
body {
  background-color: #5EDD5F;
}
 header{
   width: 90vw;
}
 main{
   width: 90vw;
}
 h1{
  font-size: 50px;

}
