*{
  box-sizing: ;
  border-box: ;
}
body{
  margin: 100px;
  background-color: blue;
  color: white;
  font-family: 'Balsamiq Sans', cursive;
}
  h1{font-family: 'Odibee Sans', cursive;
}
.intro1 {
  font-size: 40px;
}
#signature {
  font-style: italic;
  font-Weight:regular;
}
.intro2 {
  font-size: 25px;
}
